{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block header %}
<h1>Register</h1>
{% endblock %}

{% block body %}
<form method="post" action="{% url "register" %}" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>{{ form.username.label }}<br>{{ form.username }}</p>
    <p>{{ form.email.label }}<br>{{ form.email }}</p>
    <p>{{ form.password_1.label }}<br>{{ form.password_1 }}<br>{{ form.password_1.help_text }}</p>
    <p>{{ form.password_2.label }}<br>{{ form.password_2 }}<br>{{ form.password_2.help_text }}</p>
    <input type="submit" value="Register">
</form>
{% endblock body %}

